@charset "UTF-8";
:root {
  --red: #ff5722;
  --cyan: #1bcdfc;
  --yellow: #FFBD2E;
  --yellow-border: #E19D1C;
  --yellow-text: #985500;
  --green: #27C840;
  --green-border: #1FA926;
  --green-text: #006100;
  --t1: #000;
  --t2: #444;
  --bg: #fff;
  --bg-hover: #f2f2f2;
  --blur-px: 20px;
  --bg-blur: rgba(242, 242, 242, 0.7);
  --bg-blur-hover: #fff;
  --json-key: #fd8607;
  --json-number: #1bcdfc;
  --json-link: #2196f3;
}
@media (prefers-color-scheme: dark) {
  :root {
    --t1: #fff;
    --t2: #ccc;
    --bg: #313438;
    --bg-hover: #20242F;
    --bg-blur: rgba(80, 80, 80, 0.5);
    --bg-blur-hover: #20242F;
  }
}

html {
  height: 100%;
}
body {
  font-family: Menlo,Monaco,Consolas,system-ui,"Courier New",monospace,sans-serif;
  font-size: 12px;
  height: 100%;
  background: var(--bg);
  margin: 0;
}

.input {
  margin: 0 8px;
}

.toolbar {
  margin: 0 8px;
  padding: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  position: sticky;
  top: 8px;
  user-select: none;
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.toolbar .title {
  color: var(--t2);
  opacity: 0.5;
  padding: 4px 12px;
}

.toolbar .title:hover {
  opacity: 1;
}

.toolbar .menu {
  display: grid;
  grid-gap: 4px;
  grid-auto-flow: column;
  align-content: start;
  justify-content: start;
}

@media screen and (max-width: 425px) {
  .toolbar .title {
    display: none;
  }
}

.toolbar a {
  padding: 4px 12px;
  border-radius: 6px;
  color: var(--t2);
  text-decoration: none;
  text-align: center;
  line-height: 1.5;
}
a.tip {
  font-weight: 500;
}

.toolbar a.tip:hover {
  background: var(--bg-hover);
  color: var(--t1);
}

.line-v {
  width: 2px;
  background: var(--t2);
  opacity: 0.15;
  margin: 7px 0;
  border-radius: 2px;
}


@supports ((-webkit-backdrop-filter:blur(var(--blur-px))) or (backdrop-filter:blur(var(--blur-px)))) {
  .toolbar {
    background: var(--bg-blur);
    backdrop-filter: saturate(200%) blur(var(--blur-px));
    -webkit-backdrop-filter: saturate(200%) blur(var(--blur-px));
  }
  .toolbar a.tip:hover {
    background: var(--bg-blur-hover);
  }
}

.toolbar a.clear:hover {
  color: white;
  background: var(--red);
}

.toolbar a.tip.select {
  background: var(--cyan);
  color: white;
}

textarea {
  display: block;
  resize: vertical;
  font-size: inherit;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  background: none;
  outline: none;
  color: var(--t2);
  font-family: inherit;
}
.input textarea {
  min-height: 120px;
  padding: 8px 0;
}
.output textarea {
  min-height: 420px;
  padding: 8px;
}
.output>span {
  display: block;
  overflow: scroll;
  padding: 8px;
  color: var(--t2);
}

.fa-minus-square-o:before, .fa-plus-square-o:before {
  display: inline-block;
  text-align: center;
  width: 24px;
  border-radius: 24px;
  margin: 2px;
  font-style: normal;
  font-weight: 700;
  border-width: 1px;
  border-style: solid;
}
.fa-minus-square-o:before {
  content: '-';
  background: var(--yellow);
  border-color: var(--yellow-border);
  color: var(--yellow-text);
}

.fa-plus-square-o:before {
  content: '+';
  background: var(--green);
  border-color: var(--green-border);
  color: var(--green-text);
}

span.json_key {
  color: var(--json-key);
}
span.json_number {
  color: var(--json-number);
}
a.json_link {
  color: var(--json-link);
}
